* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  font-weight: 400;
  font-display: optional;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background: #ececec;
  padding: 56px 0 0;
}

.header {
  width: 100%;
  height: 56px;
  color: #FFF;
  background: #3F51B5;
  position: fixed;
  top: 0;
  font-size: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 16px 16px 0 16px;
  will-change: transform;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  z-index: 9999;
}

.header-title {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.update-content {
  margin-top: 20px;
  font-size: 22px;
  text-align: center;
}

.section {
  max-width: 640px;
  margin: 10px auto 10px;
  padding: 0 10px
}

figure {
  width: 100%;
  margin: 0 0 20px;
}

img {
  width: 100%;
}

caption {
  display: block;
  margin: 0 auto 2em;
  text-align: left;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  padding: 5px;
  background: #ececec;
  box-shadow: 1px 1px 1px black;
}

.header .app-setting {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.back-icon {
  width: 24px;
  height: 24px;
}

.push-message-button {
  display: block;
  text-align: center;
  margin: 20px auto 0;
  padding: 5px 10px;
  line-height: 1.5em;
  color: white;
  background-color: #3F51B5;
  border: none;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
}

.push-message img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.setting {
  width: 100%;
}

.setting ul {
  list-style: none;
  padding: 0;
}

.setting ul>li {
  display: flex;
  width: 400px;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid #c1c1c1;
  border-top: 1px solid #c1c1c1;
  align-self: center;
  align-items: center;
}

.setting img {
  width: 24px;
}

.setting .more {
  display: flex;
  align-items: center;
}